<body>
  <a href="{{url_for('show_all') }}">Arts</a>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}

  Arts (<a href="{{ url_for('new') }}">Add Art</a>

  <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Mediums</th>
          <th>Description</th>
        </tr>
      <tbody>
        {% for art in artwork %}
        <tr>
          <td>{{ art.title }}</td>
          <td>{{ art.mediums }}</td>
          <td>{{ art.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

</body>
